{%- include head.html -%}

<head>
  <style>
        body {
            background: linear-gradient(135deg, #003366, darkred); /* 180deg for top-to-bottom gradient */
            color: #ffffff;
            font-family: Arial, sans-serif;
            min-height: 100vh;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow-y: auto;
        }
  </style>
</head>
<body>

  {%- include theme/minima/header.html -%}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">
      {{ content }}
    </div>
  </main>

  {%- include theme/minima/footer.html -%}

</body>